<h2>Food: <%= @post.item %> </h2>
<h2>Description: <%= @post.description %> </h2>
<h2>Quantity: <%= @post.quantity %> kg </h2>
<h2>Expire date: <%= @post.expir %> </h2>
<h2>Available from:</h2> <%= @post.available_time_start %> <h2>to:</h2> <%= @post.available_time_end %> 
<h2>Provider: <%= @post.super %> </h2>
<h2>Location: <%= @post.loc %> </h2>
